CompileFlags:
  CompilationDatabase: build/gcc-debug
  Remove:
    - -mthumb*
    - -mfloat-abi=*
    - -mfpu=*
    - -mcpu=*
    - -fsingle-precision-constant
    - -fno-common
    - -ffunction-sections
    - -fdata-sections
  Add:
    - -Wno-unknown-attributes
    - -Wno-ignored-attributes

Diagnostics:
  UnusedIncludes: Strict
  MissingIncludes: Strict
  ClangTidy:
    Add:
      - bugprone-*
      - performance-*
      - readability-braces-around-statements
      - readability-const-return-type
      - modernize-use-nullptr
      - modernize-use-override
      - misc-*
    Remove:
      - bugprone-easily-swappable-parameters
      - bugprone-dynamic-static-initializers
      - readability-magic-numbers
      - modernize-use-using
    CheckOptions:
      modernize-use-auto.MinTypeNameLength: "5"

InlayHints:
  Enabled: Yes
  ParameterNames: Yes
  DeducedTypes: Yes
  Designators: Yes

---
If:
  PathMatch: Firmware/ThirdParty/.*
Diagnostics:
  Suppress: "*"
