BasedOnStyle: LLVM
Language: Cpp
Standard: c++17

IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 88

BreakBeforeBraces: Custom
BraceWrapping:
  AfterCaseLabel: true
  AfterClass: true
  AfterControlStatement: Always
  AfterEnum: true
  AfterExternBlock: false
  AfterFunction: true
  AfterNamespace: true
  AfterStruct: true
  AfterUnion: true
  BeforeCatch: true
  BeforeElse: true
  BeforeLambdaBody: true
  BeforeWhile: false
  IndentBraces: false
  SplitEmptyFunction: true
  SplitEmptyRecord: true
  SplitEmptyNamespace: true
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: false
AllowShortEnumsOnASingleLine: false

PointerAlignment: Right
ReferenceAlignment: Left
DerivePointerAlignment: false

SortIncludes: Never
IncludeBlocks: Preserve

NamespaceIndentation: None
IndentExternBlock: NoIndent
CompactNamespaces: false
FixNamespaceComments: true

AccessModifierOffset: -4
IndentAccessModifiers: false

AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false
AlignAfterOpenBracket: Align
AllowAllArgumentsOnNextLine: false
BinPackArguments: false
BinPackParameters: false

BreakConstructorInitializers: BeforeComma
ConstructorInitializerIndentWidth: 4
